* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}
/* HEADER BAR */
header {
    padding: 30px;
}
h1 {
    display: inline-block;
    margin-right: 20px;
    text-shadow: 5px 5px 10px rgba(105, 97, 97, 0.541);
}
.link {
    display: inline-block;
}
.link li {
    display: inline-block;
    margin: 0 5px;
}
.link a {
    text-decoration: none;
    color: black;
}
.link a:hover {
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset: 5px;
}
/* GALLERY */
.gallery {
    display: inline-block;
}
.gallery div {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: center;
}
.gallery img {
    width: 900px;
    height: 550px;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(105, 97, 97, 0.479);
}
.gallery p {
    align-items:normal;
    font-style: italic;
    margin-top: 5px;
}
