* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Cormorant", serif;
}
/* HEADER BAR */
header {
  padding: 20px 30px;
}
h1 {
  display: inline-block;
  margin-right: 20px;
  font-size: 42px;
}
.link {
  display: inline-block;
}
.link li {
  display: inline-block;
  margin: 0 5px;
}
.link a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.link a:hover {
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 5px;
}
/* GALLERY */
.gallery {
  padding: 0 16px;
}
.card {
  display: inline-block;
  box-sizing: border-box;
  width: 49.75%;
  padding: 0 16px;
}
.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 5px rgba(186, 180, 180, 0.453);
  border-radius: 5px;
}
.card img:hover {
  opacity: 0.9;
}
.card h2 {
  display: inline-block;
  margin: 0 0 16px 0;
  font-weight: bold;
  font-style: italic;
}
/* FOOTER */
.about {
  width: 40%;
  min-width: 600px;
  margin: 70px 0 0 150px;
}
.phrase {
  font-size: 40px;
  font-weight: normal;
}
.cta {
  font-size: 40px;
  font-weight: normal;
  border-bottom: 1px solid black;
  display: inline-block;
  margin: 30px 0;
  padding-bottom: 5px;
}
.contact {
  margin: 50px 0;
  font-size: 25px;
}
