* {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}
body {
  font-family: "Cormorant", serif;
}
/* TOP BAR */
.navbar {
  padding: 10px 30px;
  display: flex;
  width: auto;
  height: 50px;
  border: black;
  line-height: 50px;
  margin-top: 10px;
}
.navbar .name {
  font-size: 30px;
  display: flex;
  margin-right: 30px;
  flex-wrap: wrap;
}
.toplinks {
  display: flex;
  font-size: 20px;
  justify-content: left;
  align-items: center;
}
.toplinks li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 56px;
}
.toplinks a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.toplinks a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: larger;
}

/* GALLERY */
.gallery {
  max-width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: fit-content;
  margin-left: 20px;
  transition: all 0.2s ease;
}
.item {
  margin: 0 auto;
}
.item img {
  height: auto;
  width: 250px;
  object-fit: contain;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.17);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.17);
  margin-right: 20px;
  transition: transform 0.2s ease;
}
.item img:hover {
  transform: translateY(-5px);
}
.item p {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  flex: 1 1 100%;
}
/* PHRASE */
footer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}
footer p {
  width: 60%;
  margin: 10px auto 0px auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
footer a {
  margin: 20px auto 20px auto;
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  transition: color 0.2s;
}
footer a:hover {
  color: orangered;
}
.contact p {
  margin: 0 auto 0px auto;
  padding: 0;
}
#phone {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .navbar .name {
    font-size: 25px;
    justify-content: center;
  }
  .navbar .toplinks {
    font-size: 25px;
    justify-content: center;
  }
  .toplinks a:hover {
    font-size: 26px;
    color: orangered;
  }
  .item img {
    width: 350px;
    height: auto;
  }
  .item img:hover {
    transform: translateY(0px);
  }
  footer p {
    font-size: 1.5rem;
  }
  footer a {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1250px) {
  .item img {
    width: 500px;
    margin-right: 20px;
    flex-basis: 50%;
  }
}
