/* h1 {
  margin: -20px;
}
.container {
  border: 1px solid black;
  background-color: lavenderblush;
  height: 400px;
  width: 800px;
}
.container h3 {
  text-align: center;
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  line-height: 400px;
  background-color: blueviolet;
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.18);
}

p {
  border: 2px solid green;
  margin: 20px;
}
#p2 {
  margin-top: 40px;
} */

.box {
  border: 2px solid olive;
  background-color: lavenderblush;
  width: auto;
  font-size: 40px;
  display: flex;
  overflow: visible;
}
