* {
  margin: 0px;
  padding: 0px;
}
.container {
  height: 100vh;
  width: 450px;
  border: 5px solid black;
  /* Created with https://www.css-gradient.com */
  background: #4de532;
  background: -webkit-linear-gradient(top, #4de532, #252a2b);
  background: -moz-linear-gradient(top, #4de532, #252a2b);
  background: linear-gradient(to bottom, #4de532, #252a2b);
  font-size: 50px;
  padding: 0px 10px;
  margin: 0 auto;
  text-align: center;
}
.container p {
  font-size: 0.5em;
  height: 50%;
  border: 5px solid black;
  text-align: justify;
  padding: 40px;
}
.container img {
  width: 200px;
  float: left;
  padding-top: 40px;
}
h1 {
  text-shadow: 5px 5px 5px #1d20208f;
}
