button {
  border: 2px solid black;
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  left: 150px;
  top: 50px;
  margin-top: 30px;
  height: 200px;
  width: 500px;
  font-size: 5em;
  transition: background-color 1s linear, color 0.5s ease-in-out,
    transform 1s ease-in 0.3s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 20px;
  background-color: rgb(64, 197, 238);
}

button:hover {
  background-color: orangered;
  color: white;
  transform: translateY(150px) translateX(100px);
}
